@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Source+Code+Pro&family=Monofett&display=swap');

// Override default variables before the import
$primary: deeppink;
$secondary: yellow;
$dark: black;
$body-color: #8b8b8b;

$link-color: $secondary;
$link-hover-color: cyan;
$font-family-monospace: 'Source Code Pro', monospace;
$font-family-base: $font-family-monospace;
$headings-font-family: 'Monofett', monospace;
$headings-color: $primary;
$input-btn-font-family: $font-family-monospace;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
    background-color: #1a1a1a;
    text-align: justify;
}

.footnotes {
    text-align: left;
}

// Fix default gatsby responsive image wrapper alignment of images
span.gatsby-resp-image-wrapper {
    margin: 0!important;
}

blockquote {
    border-left: 4px solid #d0d0d0;
    color: #d0d0d0;
    padding-left: 1rem;
}

.icon-btn {
    max-width: 24px;
    height: 28px;
}

.border-top-dashed {
    border-top: 1px dashed $primary;
}
